In [1]:
import sklearn as sk
import pandas as pd
from sklearn.model_selection import train_test_split #We need this to split the data
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv('Speed Dating Data.csv',encoding='latin+1')
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [7]:
#I will use go_out, age, field_cd, race, income, goal, career_c for this assignment.
def correctIncome(x):
    x = x.replace(",","")
    return x

In [8]:
newdf = df.loc[:, ["date", "age", "field_cd", "race_o", "income", "goal", "career_c","int_corr", "dec_o"]]
newdf = newdf.dropna() # to get rid of NA in career_c 
newdf = newdf.reset_index()
newdf["income"] = newdf["income"].apply(correctIncome) #I had to delete the comma because an error happened in my code

In [9]:
X= newdf.loc[:, "date":"career_c"]
y= newdf.loc[:, ["dec_o"]]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data in 70:30 ratio

In [13]:
#i will use decision tree classifier for this assignment
dtree = DecisionTreeClassifier() #create the tree
dtree = dtree.fit(X_train, y_train) #fit the tree with the train data

In [12]:
dtree.score(X_test,y_test) #my prediction

0.6310372129849564